{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Gegevens check</h1>

    <h2>Profiel informatie:</h2>
    <p>Naam: {{ user.name }}</p>
    <p>Praktijk: {{ user.praktijk }}</p>
    <p>Email: {{ user.email }}</p>
    <p>U word bezocht door: {{ user.bezoekende_praktijk }}</p>
    <p>Klopt er iets niet?
        <a href="{{ url_for('auth.change_info') }}">
            Klik hier om uw profiel te wijzigen.
        </a>
    </p>
    <p></p>
    <h2>Wachtwoorden:</h2>

    <p></p>
    <div class="col-md-4">
        {#        TODO: add pictures #}
        {{ wtf.quick_form(form) }}
    </div>


{% endblock %}